:root {
  --color-black: #0a0c1a;
  --color-grey-light: #9ca3af;
  --color-grey-dark: #2a2d4a;
  --color-blue: hsl(166, 100%, 70%);
  --color-blue-dark: hsl(166, 100%, 18%);
  --color-lavanda: hsl(270, 100%, 75%);
  --color-lavanda-dark: hsl(270, 100%, 30%);
  --color-white: #e6f1ff;

  --spacing: 4px;
}

:root {
  --background: var(--color-white);
  --background-tr: hsla(166, 100%, 70%, 0.1);
  --foreground: var(--color-black);
  --primary: var(--color-lavanda-dark);
  --secondary: var(--color-blue-dark);
  --color-grey: var(--color-grey-dark);

  --border-color: var(--color-grey);
}

[data-theme='dark'] {
  --background: var(--color-black);
  --background-tr: hsla(0, 0%, 0%, 0.4);
  --foreground: var(--color-white);
  --primary: var(--color-lavanda);
  --secondary: var(--color-blue);
  --color-grey: var(--color-grey-light);

  --border-color: var(--color-grey);
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/OpenDyslexic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.open-dyslexic {
  font-family: 'OpenDyslexic', 'Poppins', sans-serif;
}

html, body, main {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: var(--background);
  color: var(--foreground);
}

:focus-visible {
  color: var(--background);
  background-color: var(--foreground);
}
