/* LINKS SYSTEM */

a {
  text-decoration-line: none;
  text-underline-offset: 3px;
  color: var(--foreground);
}
a:hover {
  color: var(--primary);
  text-decoration-line: underline;
}

/* BUTTONS SYSTEM */

.link-button,
button {
  --bg: var(--background);
  --fg: var(--primary);
  --border: var(--primary);

  display: inline-block;
  position: relative;
  padding: 0.3em 1em;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1.5px;
  border: 2px solid var(--border);
  border-radius: 2px;
  cursor: pointer;
  text-decoration-line: none;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 1;
}

.link-button {
  background-color: var(--fg);
  color: var(--background);
}
button {
  background-color: var(--bg);
  color: var(--foreground);
}

.link-button::before,
button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: -1;
}
.link-button::before {
  background-color: var(--bg);
}
button::before {
  background-color: var(--fg);
}

.link-button:hover::before,
.link-button:focus-visible::before,
button:hover::before,
button:focus-visible::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.link-button:hover,
.link-button:focus-visible {
  color: var(--foreground);
  outline: none;
  text-decoration-line: none;
}

button:hover,
button:focus-visible {
  color: var(--background);
  outline: none;
  text-decoration-line: none;
}

.link-button.active::before,
button.active::before {
  background-color: var(--background);
}
.link-button.active,
button.active {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--background);
}
.link-button.active:hover,
button.active:hover {
  color: var(--foreground);
}

.link-button:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}
